[Unit]
Description=Prometheus exporter for HTTP monitoring
Requires=network-online.target
After=network-online.target

[Service]
User=availcheck
Restart=on-failure
WorkingDirectory=/home/availcheck/availcheck
ExecStart=/home/availcheck/availcheck-bin
ExecReload=/usr/bin/curl -X POST http://10.0.24.3/server-reload
NoNewPrivileges=true
ProtectHome=false
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
